<header class="header">
  <div class="logo-contianer">
    <img class="logo" src="assets/yum-service-02-02.png" alt="logo bebe" routerLink="/home"/>
  </div>
  <section class="nav-container">
    <nav class="nav-bar">
      <img class="png" src="assets/Asset 3comp7_2.png" alt="">
      <img class="png" src="assets/Asset 4comp7_2.png" alt="">
      <img class="png" src="assets/Asset 5comp7_2.png" alt="">
      <a routerLink="/home" class="home-class">home</a>
      <a routerLink="/favorites" class="flavorite-class">flavorites</a>
    </nav>
  </section>
</header>
