.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 300px;
  margin: 80px 0 20px 0;
}

.png {
  height: 50px;
  width: auto;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

img {
  /* top: 0;
  left: 100px; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.nav-container {
  width: 100%;
  margin: 10px;
  display: flex;

  /* justify-content: center; */
  /* height: 100vh; */
}
.nav-bar {
  width: 100%;
  padding: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 2.25em;
}
.home-class {
  font-size: 25px;
  color: black;
  cursor: crosshair;
  text-decoration: none;
  margin-bottom: 10px;
}
.home-class:hover {
  transform: translateY(-3px);
  color: #bd200b;
  font-size: 27px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.flavorite-class {
  color: black;
  cursor: crosshair;
  font-size: 25px;
  text-decoration: none;
}
.flavorite-class:hover {
  transform: translateY(-3px);
  color: #bd200b;
  font-size: 27px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

@media only screen and (min-width: 768px) {
  .nav-bar {
    width: 100%;
    padding: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2.25em;
  }
}
