body,
p,
h1 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  background-color: #E8961F;
}
.nav-bar,
.footer-bar {
  font-family: "Bungee", cursive;
}

body,
.btn {
  font-family: "Montserrat", sans-serif;
}
